/* reset margin .pading */

body {
    margin: 0 !important;
    padding: 0 !important;

}

.red {
    border: 1px solid red;

}

.green {
    border: 1px solid green;

}

.banner {
    height: 500px;
    background: url(banner.jpg) center center no-repeat;
    padding: 20px;

    .about-sign-in {
        height: 80px;
        width: 100%;
        text-align: right;

        .sign,
        .about {
            margin-top: 20px;
            padding: 7px;
            text-decoration: none;
            display: inline-block;
        }

        .sign {
            margin-right: 60px;
            margin-left: 25px;
            border: 1px solid green;
            border-radius: 50px;
            color: green;
            padding: 10px;
        }
    }

    .logo {
        background: url(hapoERP.png) center center no-repeat;
        margin-top: 40px;
        height: 100px;
    }

    .text {
        text-align: center;
        margin-top: 30px;
        font-style: italic;


    }

    .btn-start-now {
        text-align: center;
        color: azure;


        button {
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 50px;
            border: 1px solid black;
            margin-top: 25px;
            cursor: pointer;
            background-color: green;
            color: azure;
        }
    }

    .content-center {

        .left,
        .right,
        .center {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }

    span {
        display: block;
        font-size: 20px;
    }


    img {
        width: 30px;
        height: 30px;
    }

}